* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #e5efff 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  font-size: 14px;
}

.navbar--position {
  position: absolute;
  margin: 0 3%;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar-brand {
  padding-top: 6px;
}
.navbar-brand img {
  width: 7rem;
}

.collapse--justify {
  justify-content: space-between;
}
.collapse--justify .navbar-nav {
  margin-left: 5rem;
}

.nav-item .nav-link {
  color: #272d4e !important;
  font-weight: bolder !important;
}

.collapse__login .collapse__login-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #272d4e;
  margin-bottom: 0;
}
.collapse__login .collapse__login-list .nav-item {
  align-content: center;
  display: flex;
}
.collapse__login .collapse__login-list .nav-item .nav-btn {
  background-color: #7854f7;
  border: solid;
  border-color: #7854f7;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 4px;
}
.collapse__login .collapse__login-list .nav-item .nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 0.8rem;
}
.collapse__login .collapse__login-list .nav-item .nav-icon .fa-search {
  color: #272d4e;
}

.presentation__background {
  background-image: url("../assets/img/Vector.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.presentation__content {
  padding-top: 7rem;
  display: flex;
  margin-left: 12%;
}
.presentation__content-text {
  width: 50%;
  padding-top: 4rem;
  min-width: 50%;
}
.presentation__content-title {
  font-family: "Circular Std", sans-serif;
  color: #272d4e;
  font-size: 3.5rem;
  font-weight: bold;
}
.presentation__content-description {
  color: #94a2b3;
  font-weight: 600;
  font-size: 13px;
  padding: 1rem 0;
}
.presentation__content-btn {
  background-color: #7854f7;
  border: none;
  font-size: 14px;
  width: 12rem;
  padding: 1rem 0.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: bolder;
}
.presentation__content-extend {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #299ef3;
}
.presentation__content-extend span {
  color: #94a2b3;
}
.presentation__content-cards {
  width: 50%;
}
.presentation__content-cards--imgs {
  position: relative;
}
.presentation__content-cards--imgs .imgPoint-1 {
  width: 10.625rem;
  position: absolute;
  right: 0;
  bottom: -12rem;
}
.presentation__content-cards--imgs .imgPoint-2 {
  width: 23.125rem;
  position: absolute;
  top: 6.5rem;
  left: 1rem;
}
.presentation__content-cards--imgs .imgPoint-3 {
  width: 10.625rem;
  position: absolute;
  top: 0;
  right: 7rem;
}
.presentation__content-cards--imgs .shoes-card {
  display: flex;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 {
  position: relative;
  margin-top: 6rem;
  display: flex;
  padding-left: 70px;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__shoes {
  width: 20rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-green {
  position: absolute;
  background-color: #70c217;
  right: -1.5rem;
  padding: 1rem 1.5rem;
  letter-spacing: 8px;
  border-radius: 2rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-orange {
  position: absolute;
  background-color: #ffba49;
  bottom: 0rem;
  border-radius: 100%;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-orange i {
  font-size: 1.3rem;
  padding: 10px;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-photo {
  position: absolute;
  top: 0;
  right: 3rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-photo .badgePhoto {
  border-radius: 20px;
  width: 13rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-pay {
  position: absolute;
  bottom: -16rem;
  right: -15rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-pay .badgePay {
  border-radius: 20px;
  width: 20rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-safe {
  position: absolute;
  bottom: -3rem;
  right: -9.8rem;
  z-index: 2;
}
.presentation__content-cards--imgs .shoes-card .imgProduct-1 .imgProduct__card--badge-safe .badgeSafe {
  width: 3.5rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card {
  background-color: white;
  margin-top: 6rem;
  z-index: 1;
  font-family: "Circular Std";
  padding-left: 2rem;
  width: 100%;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card p {
  font-size: 10px;
  margin: 1.5rem 0;
  color: #272d4e;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card p span {
  color: #94a2b3;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card h2 {
  font-size: 15px;
  text-align: left;
  font-weight: normal !important;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card-btn {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card-btn button {
  color: #868686;
  background-color: #f6f6f6;
  border-radius: 5px;
  border: none;
  font-size: 8px;
  width: 20px;
  height: 20px;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card--addCart {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card--addCart div {
  width: 40%;
  text-align: right;
  padding-right: 20px;
  line-height: 1px;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card--addCart div .price_1 {
  color: #7854f7;
  font-size: 1rem;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card--addCart div .price_2 {
  color: #868686;
  text-decoration: line-through;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card--addCart .counter {
  background-color: #f6f6f6;
  width: 60%;
  border: none;
  font-size: 11px;
  justify-content: space-around;
  display: flex;
  height: 2rem;
  align-items: center;
}
.presentation__content-cards--imgs .shoes-card .imgProduct__card-btn--addCart {
  background-color: #7854f7;
  border: none;
  color: white;
  font-size: 10px;
  white-space: nowrap;
  right: 0;
  padding: 10px 30px 10px 50px;
}

.madeSimple {
  padding-top: 4rem;
  width: 100%;
}
.madeSimple__title {
  color: #272d4e;
  font-family: "Circular Std", sans-serif;
  text-align: center;
}
.madeSimple__title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 6rem;
}
.madeSimple__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.madeSimple__cards--top {
  width: 30%;
  text-align: center;
}
.madeSimple__cards--imgTop {
  position: relative;
}
.madeSimple__cards--imgTop .imgTop {
  width: 90%;
}
.madeSimple__cards--imgTop-badge1 {
  position: absolute;
  left: 1rem;
  top: 3rem;
}
.madeSimple__cards--imgTop-badge1 .imgTop-badge1 {
  width: 90%;
}
.madeSimple__cards--imgTop-badge2 {
  position: absolute;
  left: 3rem;
  top: 10rem;
}
.madeSimple__cards--imgTop-badge2 .imgTop-badge2 {
  width: 12rem;
}
.madeSimple__cards--mid {
  width: 30%;
  margin-top: 3.5rem;
  text-align: center;
}
.madeSimple__cards--imgMid {
  position: relative;
}
.madeSimple__cards--imgMid .imgMid {
  width: 90%;
}
.madeSimple__cards--imgMid-badge1 {
  position: absolute;
  left: 8rem;
  top: 2rem;
}
.madeSimple__cards--imgMid-badge1 .imgMid-badge1 {
  width: 8rem;
}
.madeSimple__cards--imgMid-badge2 {
  position: absolute;
  left: 17rem;
  top: 4.5rem;
}
.madeSimple__cards--imgMid-badge2 .imgMid-badge2 {
  width: 8rem;
}
.madeSimple__cards--imgMid-badge3 {
  position: absolute;
  left: 7rem;
  top: 8rem;
}
.madeSimple__cards--imgMid-badge3 .imgMid-badge3 {
  width: 8rem;
}
.madeSimple__cards--imgMid-badge4 {
  position: absolute;
  left: 11rem;
  bottom: -5.5rem;
}
.madeSimple__cards--imgMid-badge4 .imgMid-badge4 {
  width: 8rem;
}
.madeSimple__cards--imgMid-badge5 {
  position: absolute;
  left: 14rem;
  top: 9rem;
}
.madeSimple__cards--imgMid-badge5 .imgMid-badge5 {
  width: 8rem;
}
.madeSimple__cards--bot {
  width: 30%;
  margin-top: 7rem;
  text-align: center;
}
.madeSimple__cards--imgBot {
  position: relative;
}
.madeSimple__cards--imgBot .imgBot {
  width: 90%;
}
.madeSimple__cards--imgBot-badge1 {
  position: absolute;
  right: -6rem;
  top: 8rem;
}
.madeSimple__cards--imgBot-badge1 .imgBot-badge1 {
  width: 9rem;
}
.madeSimple__cards--imgBot-badge2 {
  position: absolute;
  left: 7rem;
  top: 2rem;
}
.madeSimple__cards--imgBot-badge2 .imgBot-badge2 {
  width: 8rem;
}
.madeSimple__cards--imgBot-badge3 {
  position: absolute;
  left: 17rem;
  top: -1rem;
}
.madeSimple__cards--imgBot-badge3 .imgBot-badge3 {
  width: 8rem;
}
.madeSimple__cards--text {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}
.madeSimple__cards--text h3 {
  font-family: "Circular Std", sans-serif;
  color: #272d4e;
  font-size: 25px;
}
.madeSimple__cards--text p {
  color: #94a2b3;
  font-size: 11.5px;
  font-weight: 600;
  margin: 1rem 0;
}
.madeSimple__cards--text a {
  text-decoration: none;
  font-size: 11.5px;
  font-weight: 600;
  color: #299ef3;
}

.develop {
  margin-top: 4rem;
}

.develop__background {
  background-size: cover;
  background-image: url("../assets/img/imgDevelop/Rectangle 234.svg");
}
.develop__background-icon {
  background-image: url("../assets/img/imgDevelop/Union.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 30rem 20rem;
}
.develop__background-cards {
  padding-left: 10rem;
  padding-right: 10rem;
}
.develop__background-cards h3 {
  font-family: "Circular Std", sans-serif;
  color: white;
}
.develop__background-cards p {
  color: white;
  line-height: 1.5rem;
  font-size: 14px;
}
.develop__background-cards button {
  background-color: #70c217;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 1rem 1.5rem;
  border-radius: 60px;
}

.develop__card-1 {
  display: flex;
}
.develop__card-1 .develop__card-1-img {
  position: relative;
}
.develop__card-1 .develop__card-1-img .imgGirl {
  width: 23rem;
  position: relative;
  z-index: 3;
}
.develop__card-1 .develop__card-1-img-badge1 {
  position: absolute;
  left: 0rem;
  top: 8rem;
}
.develop__card-1 .develop__card-1-img-badge1 .card-1-badge1 {
  width: 2rem;
}
.develop__card-1 .develop__card-1-img-badge2 {
  position: absolute;
  left: 6rem;
  bottom: -8rem;
  z-index: 2;
}
.develop__card-1 .develop__card-1-img-badge2 .card-1-badge2 {
  width: 15rem;
}
.develop__card-1 .develop__card-1-img-badge3 {
  position: absolute;
  left: 4rem;
  bottom: -25rem;
  z-index: 2;
}
.develop__card-1 .develop__card-1-img-badge3 .card-1-badge3 {
  width: 10rem;
}
.develop__card-1 .develop__card-1-txt {
  margin: auto 0;
  padding-left: 2rem;
  padding-right: 9rem;
}

.develop__card-2 {
  display: flex;
}
.develop__card-2 .develop__card-2-img {
  position: relative;
}
.develop__card-2 .develop__card-2-img .imgMeet {
  width: 23rem;
  position: relative;
  z-index: 3;
}
.develop__card-2 .develop__card-2-img-badge1 {
  position: absolute;
  left: 8rem;
  top: 1.5rem;
  z-index: 4;
}
.develop__card-2 .develop__card-2-img-badge1 .card-2-badge1 {
  width: 3rem;
}
.develop__card-2 .develop__card-2-img-badge2 {
  position: absolute;
  right: -10rem;
  top: 5rem;
  z-index: 2;
}
.develop__card-2 .develop__card-2-img-badge2 .card-2-badge2 {
  width: 10rem;
}
.develop__card-2 .develop__card-2-img-badge3 {
  position: absolute;
  right: -17.5rem;
  bottom: 6rem;
  z-index: 2;
}
.develop__card-2 .develop__card-2-img-badge3 .card-2-badge3 {
  width: 20rem;
}
.develop__card-2 .develop__card-2-txt {
  margin: auto 0;
  padding-right: 2rem;
  padding-left: 11rem;
}

.storeOwners {
  font-family: "Circular Std", sans-serif;
  position: relative;
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ecf0fd 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
}
.storeOwners__content--title {
  text-align: center;
  margin-top: 8rem;
  color: #272d4e;
  font-size: 40px;
}
.storeOwners__card {
  width: 35%;
  margin: 5rem auto;
  background-color: white;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 30px 1px -12px #d7e4f980;
}
.storeOwners__card .imgComillas {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 10rem;
}
.storeOwners__card--txt {
  position: relative;
  color: #94a2b3;
  text-align: center;
  padding: 4rem 3rem;
  line-height: 1.5rem;
}
.storeOwners__card-badge1 {
  position: absolute;
  right: 30rem;
  top: -5rem;
}
.storeOwners__card-badge1 .card-badge1 {
  width: 5rem;
}
.storeOwners__card-badge2 {
  position: absolute;
  left: -15rem;
  bottom: -6.5rem;
}
.storeOwners__card-badge2 .card-badge2 {
  width: 3rem;
}
.storeOwners__card-badge3 {
  position: absolute;
  left: -20rem;
  bottom: 8rem;
}
.storeOwners__card-badge3 .card-badge3 {
  width: 3rem;
}
.storeOwners__card-badge4 {
  position: absolute;
  right: -19rem;
  top: 9rem;
}
.storeOwners__card-badge4 .card-badge4 {
  width: 6rem;
}
.storeOwners__card-badge5 {
  position: absolute;
  top: -5rem;
  right: -10rem;
}
.storeOwners__card-badge5 .card-badge5 {
  width: 5rem;
}
.storeOwners__card-badge6 {
  position: absolute;
  right: -10rem;
  bottom: -8rem;
}
.storeOwners__card-badge6 .card-badge6 {
  width: 3rem;
}
.storeOwners__card-badge7 {
  position: absolute;
  left: 4rem;
  bottom: -8rem;
  z-index: -1;
}
.storeOwners__card-badge7 .card-badge7 {
  width: 20rem;
}
.storeOwners__card-badge8 {
  position: absolute;
  right: -17rem;
  bottom: 2.5rem;
  z-index: -1;
}
.storeOwners__card-badge8 .card-badge8 {
  width: 20rem;
}
.storeOwners__card-badge9 {
  position: absolute;
  left: 20rem;
  bottom: -3rem;
}
.storeOwners__card-badge9 .card-badge9 {
  width: 1rem;
}
.storeOwners__card-badge10 {
  position: absolute;
  left: 22rem;
  bottom: -3.3rem;
}
.storeOwners__card-badge10 .card-badge10 {
  width: 2rem;
}

.support__content {
  width: 80%;
  margin: auto;
  padding-top: 9rem;
  text-align: center;
}
.support__content--title {
  font-family: "Circular Std", sans-serif;
  color: #272d4e;
  font-size: 40px;
}
.support__content--txt {
  color: #94a2b3;
  font-size: 11.5px;
  font-weight: 600;
  padding-top: 1rem;
}
.support__content--img {
  position: relative;
}
.support__content--img .imgContent {
  width: 100%;
  position: relative;
  z-index: 2;
}
.support__content--img-badge1 {
  position: absolute;
  bottom: -10rem;
  left: 31.5rem;
  z-index: -1;
}
.support__content--img-badge1 .support-badge1 {
  width: 55rem;
}
.support__content--img-badge2 {
  position: absolute;
  top: 5rem;
  left: -2rem;
  z-index: -1;
}
.support__content--img-badge2 .support-badge2 {
  width: 3rem;
}
.support__content--img-badge3 {
  position: absolute;
  top: 10rem;
  left: 0rem;
  z-index: -1;
}
.support__content--img-badge3 .support-badge3 {
  width: 2rem;
}
.support__content--img-badge4 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: -1;
}
.support__content--img-badge4 .support-badge4 {
  width: 1rem;
}
.support__content--img-badge5 {
  position: absolute;
  top: 10rem;
  right: -12rem;
  z-index: -1;
}
.support__content--img-badge5 .support-badge5 {
  width: 12rem;
}

.banner {
  background-color: #5f37ef;
  display: flex;
  padding: 3rem 15rem;
  justify-content: space-evenly;
  position: relative;
}
.banner p {
  margin-bottom: 0 !important;
  color: white;
  font-size: 20px;
}
.banner p span {
  font-weight: bold;
  font-size: 22px;
  font-weight: 700;
}
.banner button {
  background-color: transparent;
  border-color: white;
  border-radius: 60px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 2rem;
}
.banner__img--badge {
  position: absolute;
  bottom: -4rem;
  left: 75rem;
  z-index: 2;
}
.banner__img--badge .banner-badge {
  width: 4rem;
}

.footer {
  background-color: #7854f7;
  color: white;
}
.footer p {
  margin-bottom: 0 !important;
}
.footer h4 {
  font-size: 15px;
}
.footer__top {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 3rem 6rem 8rem 6rem;
}
.footer__top--money-back {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__top--money-back img {
  width: 2rem;
}
.footer__top--money-back p {
  padding-left: 1rem;
}
.footer__top--money-back p span {
  font-weight: 700;
}
.footer__top--supp {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__top--supp img {
  width: 2rem;
}
.footer__top--supp p {
  padding-left: 1rem;
}
.footer__top--supp p span {
  font-weight: 700;
}
.footer__top--safe {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__top--safe img {
  width: 2rem;
}
.footer__top--safe p {
  padding-left: 1rem;
}
.footer__top--safe p span {
  font-weight: 700;
}
.footer__logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.133);
  padding-bottom: 3rem;
  margin: 0 5rem;
}
.footer__links a {
  text-decoration: none !important;
  font-size: 12px;
}
.footer__links--size {
  padding: 0 6rem;
}
.footer__final {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #e5e5e5;
  color: #272d4e;
  font-size: 12px;
  font-weight: 700;
}

@media all and (max-width: 991.98px) {
  .presentation__content-cards {
    display: none;
  }

  .presentation__content {
    margin: auto 0;
  }

  .presentation__content-text {
    width: 100%;
    text-align: center;
  }

  .madeSimple__title h2 {
    padding-top: 2rem;
  }

  .madeSimple__cards span {
    display: none;
  }

  .develop__background-cards {
    padding-left: 0;
    padding-right: 0;
  }

  .develop__card-1 .develop__card-1-txt {
    padding-right: 1rem;
  }

  .develop__card-2 .develop__card-2-txt {
    padding-left: 1rem;
    z-index: 2;
  }

  .storeOwners__card {
    width: 70%;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }

  .footer h4 {
    font-size: 10px;
  }

  .footer__final {
    flex-direction: column;
    text-align: center;
  }

  .nav-link {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .navbar-nav {
    flex-direction: row;
    margin-left: 0 !important;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }

  .collapse__login ul {
    padding-left: 0 !important;
  }
}
@media all and (max-width: 767.98px) {
  .develop__card-1 .develop__card-1-img .imgGirl {
    width: 15rem;
  }

  .develop__card-2 .develop__card-2-img .imgMeet {
    width: 15rem;
  }

  .storeOwners__content--title {
    margin-top: 3rem;
  }

  .storeOwners__card span {
    display: none;
  }

  .support__content {
    padding-top: 3rem;
  }

  .banner {
    padding: 2rem 2rem;
  }
  .banner button {
    margin: 1rem auto;
  }

  .footer__final {
    padding: 1rem 1rem;
  }

  .footer__top {
    padding: 2rem;
  }

  .footer__final--copyright {
    font-size: 10px;
  }
}
@media all and (max-width: 575.98px) {
  .presentation__background {
    background-size: cover;
  }

  .presentation__content-text {
    padding-top: 1.5rem;
  }

  .presentation__content-title {
    font-size: 3rem;
  }

  .madeSimple__title h2 {
    font-size: 2rem;
  }

  .madeSimple__cards {
    flex-direction: column;
  }

  .madeSimple__cards--top {
    width: 100%;
  }

  .madeSimple__cards--mid {
    width: 100%;
  }

  .madeSimple__cards--bot {
    width: 100%;
    margin-top: 3rem;
  }

  .develop span {
    display: none;
  }

  .develop__card-1 {
    flex-direction: column;
  }

  .develop__card-1 .develop__card-1-img {
    margin: auto;
  }

  .develop__card-2 {
    flex-direction: column;
  }

  .develop__card-2 .develop__card-2-txt {
    text-align: end;
  }

  .develop__card-2 .develop__card-2-img {
    margin: auto;
  }

  .storeOwners__content--title {
    font-size: 2rem;
  }

  .storeOwners__card {
    margin: 3rem auto;
  }

  .support__content {
    padding-top: 2rem;
  }

  .support__content--title {
    font-size: 2rem;
  }

  .banner p {
    font-size: 15px;
  }
  .banner p span {
    font-size: 15px;
  }

  .footer__top--money-back {
    flex-direction: column;
    text-align: center;
  }

  .footer__top--money-back p {
    padding-left: 0;
    font-size: 15px;
  }

  .footer__top--supp {
    flex-direction: column;
    text-align: center;
  }
  .footer__top--supp p {
    padding-left: 0;
    font-size: 15px;
  }

  .footer__top--safe {
    flex-direction: column;
    text-align: center;
  }
  .footer__top--safe p {
    padding-left: 0;
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
