.presentation {
  &__background {
    background-image: url("../assets/img/Vector.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  &__content {
    padding-top: 7rem;
    display: flex;
    margin-left: 12%;
    &-text {
      width: 50%;
      padding-top: 4rem;
      min-width: 50%;
    }
    &-title {
      font-family: "Circular Std", sans-serif;
      color: $secondColor;
      font-size: 3.5rem;
      font-weight: bold;
    }
    &-description {
      color: $thirdColor;
      font-weight: 600;
      font-size: 13px;
      padding: 1rem 0;
    }
    &-btn {
      background-color: $primaryColor;
      border: none;
      font-size: 14px;
      width: 12rem;
      padding: 1rem 0.5rem;
      border-radius: 2rem;
      color: white;
      font-weight: bolder;
    }
    &-extend {
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      color: #299ef3;
      span {
        color: $thirdColor;
      }
    }
    &-cards {
      width: 50%;
      &--imgs {
        position: relative;
        .imgPoint-1 {
          width: 10.625rem;
          position: absolute;
          right: 0;
          bottom: -12rem;
        }
        .imgPoint-2 {
          width: 23.125rem;
          position: absolute;
          top: 6.5rem;
          left: 1rem;
        }
        .imgPoint-3 {
          width: 10.625rem;
          position: absolute;
          top: 0;
          right: 7rem;
        }

        .shoes-card {
          display: flex;
          .imgProduct-1 {
            position: relative;
            margin-top: 6rem;
            display: flex;
            padding-left: 70px;

            .imgProduct__shoes {
              width: 20rem;
            }

            .imgProduct__card--badge-green {
              position: absolute;
              background-color: #70c217;
              right: -1.5rem;
              padding: 1rem 1.5rem;
              letter-spacing: 8px;
              border-radius: 2rem;
            }
            .imgProduct__card--badge-orange {
              position: absolute;
              background-color: #ffba49;
              bottom: 0rem;
              border-radius: 100%;
              i {
                font-size: 1.3rem;
                padding: 10px;
              }
            }
            .imgProduct__card--badge-photo {
              position: absolute;
              top: 0;
              right: 3rem;
              .badgePhoto {
                border-radius: 20px;
                width: 13rem;
              }
            }
            .imgProduct__card--badge-pay {
              position: absolute;
              bottom: -16rem;
              right: -15rem;
              .badgePay {
                border-radius: 20px;
                width: 20rem;
              }
            }
          }
          .imgProduct__card {
            background-color: white;
            margin-top: 6rem;
            z-index: 1;
            font-family: "Circular Std";
            padding-left: 2rem;
            width: 100%;
            p {
              font-size: 10px;
              margin: 1.5rem 0;
              color: $secondColor;
              span {
                color: $thirdColor;
              }
            }
            h2 {
              font-size: 15px;
              text-align: left;
              font-weight: normal !important;
            }
            &-btn {
              display: flex;
              justify-content: space-evenly;
              padding-top: 2rem;
              button {
                color: #868686;
                background-color: #f6f6f6;
                border-radius: 5px;
                border: none;
                font-size: 8px;
                width: 20px;
                height: 20px;
              }
            }
            &--addCart {
              display: flex;
              height: 4rem;
              align-items: center;
              justify-content: space-between;
              margin-top: 1.5rem;
              div {
                width: 40%;
                text-align: right;
                padding-right: 20px;
                line-height: 1px;
                .price_1 {
                  color: $primaryColor;
                  font-size: 1rem;
                }
                .price_2 {
                  color: #868686;
                  text-decoration: line-through;
                }
              }
              .counter {
                background-color: #f6f6f6;
                width: 60%;
                border: none;
                font-size: 11px;
                justify-content: space-around;
                display: flex;
                height: 2rem;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
